body {
  margin: 0;
}

.flex {
  display: flex;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

.header-background {
  background-color: #1f2937;
  justify-content: center;
}

.header {
  color: #f9f5f8;
  max-width: 1000px;
}

.header-bar {
  font-size: 24px;
  color: #f9f5f8;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-content {
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.link {
  font-size: 18px;
  color: #e5e7eb;
}

.text {
  font-size: 18px;
  color: #e5e7eb;
}
.logo {
  font-weight: 800;
}
.headline1 {
  font-size: 48px;
  color: #f9f5f8;
  font-weight: 800;
}

.header-image {
  width: 300;
  height: 200;
  max-width: 100%;
}
#header-text {
  color: #e5e7eb;
}

.linnk {
  padding-left: 10px;
  color: #e5e7eb;
}
.footer {
  background-color: #1f2937;
}

.headline {
  color: #1f2937;
}

.imgCarousel {
  width: 150px;
  height: 150px;
}

.carousel {
  justify-content: space-around;
}

.content2 {
  background-color: #1f2937;
}
